<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Survey</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div ng-app='SurveyApp' ng-controller="FormCtrl">
          <form name='surveyForm'>
            <div data-ng-repeat="survey in surveys">
              <h2>Survey ID: <span ng-bind='survey.id'></span></h2>
              <div class="form-group">
                <label for="title">Survey Title</label>
                <input type="text" name='title' ng-model='survey.title' class="form-control" ng-maxlength="100">
                <span ng-show="surveyForm.title.$error.maxlength">Way too long, 100 character max buddy.</span>
              </div>
              <div class="form-group">
                <label for="desc">Survey Description</label>
                <input type="text" name="desc" ng-model='survey.desc' class="form-control" ng-maxlength="500">
                <span ng-show="surveyForm.desc.$error.maxlength">Way too long, 500 character max buddy.</span>
              </div>
              <div class="form-group">
                <label for="desc">Survey Point Value</label>
                <input name='points' type="text" ng-model='survey.pointValue' class="form-control" integer>
                <span ng-show="surveyForm.points.$error.integer">It's gotta be a positive integer.</span>
              </div>
              <div class="form-group" data-ng-repeat="question in survey.questions">
                <label for="desc">Question <span ng-bind='question.qID'></span>:</label>
                <input type="text" ng-model='question.title' class="form-control">
              </div>
              <button type="button" ng-click="addNewQuestion(survey.id)" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Question</button>
            </div>
            </br>
            <button type="button" ng-click="addNewSurvey()" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Survey</button>
            <button type="submit" ng-click="submit(surveyForm)" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  <script src="js.js"></script>
</body>

</html>
